<script type="text/javascript">
  <% if logged_in? %>
  	window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
  <% end %>
</script>

<link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

<main id="root"></main>
