// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.photo img {
  width: 100vw;
  z-index: -1;
  object-fit: cover;
  height: auto;
}

.photo {
  display: flex;
  align-content: flex-end;
}

.profile-page-image, .profile-image {
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid white;
  display: flex;
  align-self: center;
  justify-content: center;
}

.profile-page-image {
  margin-top: 10px;
  width: 100px;
  height: 100px;
  background-color: white;
  border: 1px solid black;
}

.profile-image {
  width: 30px;
  height: 30px;
  background-color: white;
}

.profile-info {
  z-index: 1;
  display: flex;
  align-items: center;
  position: fixed;
  margin-bottom: 10px;
  color: white;
  margin-left: 10px;
  bottom: 0;
  text-shadow: 2px 2px 20px black;
}

Link:hover {
  cursor: default;
}

Link img:hover, Link span:hover {
  cursor: pointer;
}

.profile-image {
  margin-right: 5px;
}

.profile-page-image img, .profile-image img{
  width: auto;
  height: 100%;
  z-index: 0;
}

.picture {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // max-width: 100%;
  // max-height: 100%;
  // margin: auto;
  // overflow: auto;
}

.picture:hover {
  cursor: zoom-out;
}
