// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fullpage-sign-in {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fullpage-sign-up {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

// Toggles display of email depending on formType
.sign-in-form-container .email-input {
  display: none;
}

.sign-up-form-container .email-input {
  display: flex;
}

.sign-in-images, .sign-up-images {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.sign-in-images .sign-in-img, .sign-up-images .sign-up-img {
  height: 80vh;
  align-self: center;
}

.sign-in-images .sign-up-img {
  display: none;
}

.sign-up-images .sign-in-img {
  display: none;
}

.sign-up-form-container button {
  display: none;
}

.errors {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding-top: 15px;
  color: rgba(255,255,255,0.8);
  flex-direction: column;
  text-align: center;
}

.sign-in-form-container{
  margin-right: 40px;
}

.sign-up-form-container{
  margin-left: 40px;
}

.sign-in-form-container, .sign-up-form-container {
  display: flex;
  padding: 0px 20px 20px 20px;
  border: 1px solid white;
  border-radius: 7px;
  margin-top: 40px;
  justify-content: center;
  float: right;
  align-items: center;
  background: image-url('login_splash_screen.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 80vh;
  width: 30vw;
  min-width: 350px;
}

.submit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

input {
  height: 22px;
  margin: 0px 0px 4px 4px;
}

input[type=text], input[type=password] {
  max-width: 300px;
  width: 100vw;
  height: 35px;
  border: 1px solid rgba(255,255,255,0);
  border-radius: 25px;
  background-color: rgba(255,255,255,0.1);
  padding-left: 2px;
  text-indent: 10px;
  font-size: 12px;
  color: black;
  background-image: image-url('user.png') no-repeat scroll 7px 7px;
}

input[type=submit], button {
  width: 40%;
  max-width: 300px;
  max-width: 175px;
  border: 0.5px solid white;
  border-radius: 25px;
  background-color: transparent;
  font-size: 12px;
  color: white;
  height: 30px;
}

button {
  margin: 0px 0px 4px 4px;
}

input[type=password]:hover, input[type=text]:hover{
  background-color: rgba(255,255,255,0.3);
}

input[type=submit]:hover, button:hover {
  background-color: rgba(255,255,255,0.3);
  cursor: pointer;
}

input[type=password]:focus {
  outline: none;
  background-color: rgba(255,255,255,0.3);
}

input[type=text]:focus {
  outline: none;
  background-color: rgba(255,255,255,0.3);
}

input[type=submit]:focus, button:focus {
  outline: none;
}

input[type=submit]:active , button:focus {
  outline: none;
  background-color: white;
  color: black;
}

.Links span {
  border-bottom: 1px solid white;
  padding: 0px 8px 4px 8px;
  color: white;
  text-align: center;
}

.Links {
  color: rgba(255,255,255,0.60);
  padding: 0px 8px 4px 0px;
  text-align: center;
  font-size: 20px;
}

.Links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

::-webkit-input-placeholder {
  margin-left: 2px;
  letter-spacing: 5px;
  padding-left: 2px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-indent: 10px;
  opacity: 0.5
}
:-moz-placeholder { /* older Firefox*/
  margin-left: 2px;
  letter-spacing: 5px;
  padding-left: 2px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-indent: 10px;
  opacity: 0.5
}
::-moz-placeholder { /* Firefox 19+ */
  margin-left: 2px;
  letter-spacing: 5px;
  padding-left: 2px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-indent: 10px;
  opacity: 0.5
}
:-ms-input-placeholder {
  margin-left: 2px;
  letter-spacing: 5px;
  padding-left: 2px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-indent: 10px;
  opacity: 0.5
}
