// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body {
  background: image-url('login_splash_screen.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar a {
  margin-left: 20px;
}

.user-info {
  display: flex;
  align-items: center;
  margin-right: 20px;
  flex-direction: column;
}

// Toggles display of email depending on formType
.sign-in-form-container .email-input {
  display: none;
}

.sign-up-form-container .email-input {
  display: flex;
}

.sign-up-form-container button {
  display: none;
}

.errors {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  padding-top: 15px;
  color: rgba(255,255,255,0.8);
  flex-direction: column;
  text-align: center;
}

.sign-in-form-container{
  display: flex;
  width: 40%;
  padding: 0px 20px 20px 20px;
  border: 1px solid white;
  border-radius: 7px;
  margin-right: 40px;
  margin-top: 20px;
  height: 300px;
  justify-content: center;
  background-color: rgba(0,0,0,0.1);
  float: right;
  align-items: center;
}

.sign-up-form-container{
  display: flex;
  width: 40%;
  padding: 0px 20px 20px 20px;
  border-radius: 7px;
  border: 1px solid white;
  margin-left: 40px;
  margin-top: 20px;
  height: 300px;
  background-color: rgba(0,0,0,0.1);
  justify-content: center;
  align-items: center;
}

.sign-up-form-box{
  display: flex;
  width: 80%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.sign-in-form-box{
  display: flex;
  width: 80%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.sign-in-form {
  width: 100%;
}

.sign-up-form {
  width: 100%;
}

.submit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

input {
  height: 22px;
  margin: 0px 0px 4px 4px;
}

input[type=text], input[type=password] {
  width: 100%;
  height: 35px;
  border: 1px solid rgba(255,255,255,0);
  border-radius: 25px;
  background-color: rgba(255,255,255,0.1);
  padding-left: 2px;
  text-indent: 10px;
  font-size: 12px;
  color: white;
  background-image: image-url('user.png') no-repeat scroll 7px 7px;
}

input[type=submit], button {
  width: 40%;
  border: 0.5px solid white;
  border-radius: 25px;
  background-color: transparent;
  height: 40%;
  font-size: 12px;
  color: white;
  height: 30px;
}

button {
  margin: 0px 0px 4px 4px;
}

input[type=password]:hover, input[type=text]:hover{
  background-color: rgba(255,255,255,0.3);
}

input[type=submit]:hover, button:hover {
  background-color: rgba(255,255,255,0.3);
  cursor: pointer;
}

input[type=password]:focus {
  outline: none;
  background-color: rgba(255,255,255,0.3);
}

input[type=text]:focus {
  outline: none;
  background-color: rgba(255,255,255,0.3);
}

input[type=submit]:focus, button:focus {
  outline: none;
}

input[type=submit]:active , button:active{
  background-color: rgba(255,255,255,0.75);
}

.Links span {
  border-bottom: 1px solid white;
  padding: 0px 8px 4px 8px;
  color: white;
  text-align: center;
}

.Links {
  color: rgba(255,255,255,0.60);
  padding: 0px 8px 4px 0px;
  text-align: center;
}

.Links {
  display: flex;
  flex-direction: row;
}

.logout {
  width: 70px;
  height: 30%;

}

::-webkit-input-placeholder {
  margin-left: 2px;
  letter-spacing: 5px;
  padding-left: 2px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-indent: 10px;
  opacity: 0.5
}
:-moz-placeholder { /* older Firefox*/
  margin-left: 2px;
  letter-spacing: 5px;
  padding-left: 2px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-indent: 10px;
  opacity: 0.5
}
::-moz-placeholder { /* Firefox 19+ */
  margin-left: 2px;
  letter-spacing: 5px;
  padding-left: 2px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-indent: 10px;
  opacity: 0.5
}
:-ms-input-placeholder {
  margin-left: 2px;
  letter-spacing: 5px;
  padding-left: 2px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-indent: 10px;
  opacity: 0.5
}
