// .feed {
//   display: flex;
//   flex-direction: column;
//   position: absolute;
//   width: 100vw;
// }

.feed-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.feed {
  width: 90vw;
  line-height: 0;
  column-count: 2;
  column-gap: 6px;

  margin-left: 5vw;
}

.pics img {
  width: 45vw;
  height: auto;
  margin-bottom: 3px;
}

.pics:hover {
  cursor: zoom-in;
}
