.feed-links-bar {
  display: flex;
  background-color: #eff1f4;
  align-items: center;
  height: 40px;
  border-top: .1px solid #d1d2d3;
  border-bottom: .1px solid #d1d2d3;
  justify-content: center;
  margin-bottom: 30px;
}

.feed-links {
  display: flex;
  justify-content: space-around;
  width: 200px;
  font-weight: 600;
  color: gray;

}

.active-link {
  border-bottom: 1.5px solid gray;
  padding: 10px;
}

.inactive-link {
  padding: 10px;
}
