// modal styling

.modal-submit {
  margin-top: 300px;
  background-color: gray;
  color: white;
  border: none;
}

.modal-submit:hover {
  background-color: lightgray;
  color: black;
  border: none;
}

.dropzone {
  border: 1px dashed black;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropzone p {
  align-self: center;
  text-align: center;
  margin: 20px;
}

.dropzone img {
  width: 80%;
  height: auto;
}

.modal-submit {
  margin: 10px;
  align-self: center;
}

.remove-image {
  align-self: center;
  color: red;
  font-weight: 400;
}

.close-modal {
  align-self: flex-start;
  width: auto;
  min-width: inherit;
}
