.navbar, .navbar-home{
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

.navbar {
  background-color: #56b892;
  color: white;
}

.navbar-home {
  color: black;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  z-index: 0;
}

.navbar a, .navbar-home a {
  margin-right: 15px;
  margin-left: 15px;
}

.navbar a img, .navbar-home a img {
  height: 50px;
}

.logout {
  width: 70px;
  width: 10vw;
  font-size: 12px;
  color: gray;
  height: 30px;
}

a {
  text-align: center;
}

a:focus {
  outline: none;
}

a:hover {
  cursor: pointer;
}

.user-info {
  display: flex;
  align-items: center;
  margin-right: 20px;
  flex-direction: column;
  margin-top: 20px;
}
