.navbar {
  background-color: #56b892;
  color: white;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

.navbar a {
  margin-right: 15px;
  margin-left: 15px;
}

.navbar a img {
  height: 50px;
}
