.profile-page {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  margin-top: 100px;
  margin-right: 10vw;
}

.stats {
  display: flex;
  justify-content: space-around;
  width: 25vw;
  font-size: 14px;
  min-width: 140px;

}

.pictures-grid {
  width: 90vw;
}

.pictures-grid > ul {
  width: inherit;
}

.pictures-grid img {
  width: 180px;
  margin: 8px;
  float: left;
  height: auto;
}
